#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

.u-section-1 .u-sheet-1 {
  min-height: 103px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 25px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 502px;
}

.u-section-2 .u-map-1 {
  width: 829px;
  height: 361px;
  margin: 71px auto;
}
.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

@media (max-width: 991px) {
  .u-section-2 .u-map-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-map-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-map-1 {
    width: 340px;
  }
}